.selected {
  background: rgb(61, 137, 236);
}
ul,
ol {
  list-style: none;

}
li:hover{
  cursor: pointer;
  background-color: rgb(140, 140, 140);
}

.searchBlock{
  text-align: center;
  margin: 10px 4px 10px 4px;
}